</br>
<h1><%= name %></h1>
<div class="pull-right">
	<button id="editEntry" class="btn btn-primary" type="button">Edit</button>
	<button id="deleteEntry" class="btn btn-primary" type="button">Delete</button>
</div>
</br></br>
<table id="MoviesTable" class="table table-striped" style="border:1px solid black;text-align:center">
	<tbody>
		<tr>
			<td><h4>Year</h4></td>
			<td style="padding-top: 17px"><i class="icon-calendar"></i> <%= releaseYear %></td>
		</tr>
		<tr>
			<td><h4>Type</h4></td>
			<td style="padding-top: 17px"><i class="icon-film"></i> <%= type %></td>
		</tr>
		<tr>
			<td><h4>Status</h4></td>
			<td style="padding-top: 17px"><i class="icon-star"></i> <%= status %></td>
		</tr>
		<tr>
			<td><h4>Genre</h4></td>
			<td style="padding-top: 17px"><i class="icon-th-large"></i> <%= genreName %></td>
		</tr>
	</tbody>
</table>