</br>
<h1><%= name %></h1>
</br>
<table id="MoviesTable" class="table table-striped" style="border:1px solid black;text-align:center">
	<tbody>
		<tr>
			<td><h5>Year:</h5></td>
			<td style="padding-top: 17px"><i class="icon-calendar"></i> <%= releaseYear %></td>
		</tr>
		<tr>
			<td><h5>Type:</h5></td>
			<td style="padding-top: 17px"><i class="icon-film"></i> <%= type %></td>
		</tr>
		<tr>
			<td><h5>Status:</h5></td>
			<td style="padding-top: 17px"><i class="icon-star"></i> <%= status %></td>
		</tr>
	</tbody>
</table>