<h1>Add New Movie</h1>
<form>
	<fieldset>
		<label>Name</label>
		<input id="name" type="text" placeholder="Enter movie name ...">
		<label>Year</label>
		<div class="input-append datepicker date" id="datepicker" data-date="01-01-2013" data-date-format="yyyy">
			<input id="year" type="text" placeholder="Select release year ...">
			<span class="add-on"><i class="icon-th"></i></span>
		</div>
		<label>Status</label>
		<select id="selectStatus">
		</select>
		<label>Type</label>
		<select id="selectType">
		</select>
		<label>Genre</label>
		<select id="selectGenre">
			<option value="Select Genre ...">Select Genre ...</option>
		</select>
	</fieldset>
	<button id="submitForm" type="submit" class="btn btn-primary">Submit</button>
</form>